@{
    ViewBag.Title = "Terms";
}


<div class="container">
    <div class="row">
                <div class="col-md-12">
                            <div class="form-group">
<p class="text-underline" style="color: darkblue">DISCLAIMER</p>

<p class="text-indent">The company shall accept no responsibility in connection to any posting in this website. Neither our
staff, Directors, current or retired are responsible for such claims. The user indemnifies the company
from any liability litigation, loss of profit, loss of job or such claims that may arise as a result of
using this site. Once registered, the user agrees with the terms and conditions of this website.</p>
                            </div>
                </div>
    </div>
                <div class ="row">
                        <div class="col-md-12">
                                <div class="form-group">
<p class="text-underline" style="color: darkblue">PRIVACY POLICY</p>
<p class="text-indent">Mycvlimited.com is committed to a high standard of privacy for our users.</p>
<p class="text-indent">We know that job seeking involves the provision of sensitive personal information to others. In our website
we collect personal information from our users.</p>
<p class="text-indent">At Mycvlimited.com in order for you to become a member you must log in or sign up. After registration you can
now fully enjoy our services.</p>
<p class="text-indent">Our website uses cookies to provide you with a better experience. These cookies allow you to use specific
services for example to remember who you are for automatic logging in.</p>
<p class="text-indent">In Mycvlimited.com our collected information can be shared with third party mainly our designers, technology 
service providers, investors, alliance partners, customers, advertisers and others in order to provide them 
with an overview of how Mycvlimited.com visitors use the site for better improving of our site.</p>
<p class="text-indent">For better understanding of our users, we accept measurement by a company known as Alexa a ranking wesite
to enable us know where most of our users are.</p>
<p class="text-indent">Registration is optional and voluntarily. Paid or free membership enables you to use our services. Once
you have registered you can upload c.v, video or delete your account.</p>
<p class="text-indent">Our users are encouraged not to send money to people pretending to be employers. Genuine employers do not
ask for money.</p>
                                </div>
                        </div>
                </div>
</div>